* {
    margin: auto;
}

.hidden{
    display: none;
}
#omotac {
    background-image: url("../img/pozadina.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#omotacDva {
    opacity: 0.80;
    border: 1px solid lightblue;
    padding: 20px;
    background: lightblue;
    height: 80vh;
}

td {
    width: auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
  }
  
  tr:nth-child(odd) {
    background-color: lightskyblue;
  }
  
  td:nth-child(odd) {
    border: lightskyblue;
  }
  .container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.ikonica {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}