* {
    margin: auto;
}

#omotac {
    background-image: url("../img/pozadina.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#omotacDva {
    opacity: 0.80;
    border: 1px solid lightblue;
    padding: 40px 20px;
    background: lightblue;
}

td {
    border: 1px solid lightblue;
    width: 200px;
    padding: 5px;
    text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
  }
  
  tr:nth-child(odd) {
	background-color: lightskyblue;
  }